<!DOCTYPE html>
<html lang="en" ng-app="calcApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title>Waiter Earnings Calculator</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div class="container" id="calculator-frame" ng-controller="CalcCtrl as calc">
        <div class="row">
            <div class="col-sm-12 centered" id="page-heading">
                <h1>Waitstaff Calculator</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
               
               
               
                <div class="panel panel-primary">
                    <div class="panel-heading">Enter the Meal Details</div>
                    <div class="panel-body">
                        <form name="mealForm" class="form-horizontal" ng-submit="calc.calcMeal(mealForm)">
                            <div class="form-group">
                                <label class="control-label col-sm-6">Base Meal Price:</label>
                                <div class="col-sm-5">
                                    <input id="mealPrice" class="form-control" type="text" placeholder="$ 00.00" required ng-model="calc.mealPrice" ui-money-mask="2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Tax Rate:</label>
                                <div class="col-sm-4">
                                    <input id="taxRate" class="form-control" type="text" placeholder="00.00 %" required ng-model="calc.taxRate" ui-percentage-mask="2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Tip Percentage:</label>
                                <div class="col-sm-4">
                                    <input id="tipPercent" class="form-control" type="text" placeholder="00.0 %" required ng-model="calc.tipPercent" ui-percentage-mask="1" />
                                </div>
                            </div>
                            <div class="centered" id="meal-buttons">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
               
               
               
                <div class="panel panel-default">
                    <div class="panel-heading">Customer Charges</div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-6">Subtotal</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.customer.subtotal | currency:"$" }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Tip</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.customer.tip | currency:"$" }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Total</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.customer.total() | currency:"$" }}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

               
               
               
                <div class="panel panel-default">
                    <div class="panel-heading">My Earning Info</div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-6">Tip Total: </label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.earnings.tipTotal | currency:"$" }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Meal Count:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.earnings.mealCount | number }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6">Average Tip Per Meal:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static" type="text">{{ calc.earnings.averageTip() | currency:"$" }}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                
                
                
            </div>
        </div>
        <div class="row">
            <div class="centered">
                <button id="reset-btn" type="button" class="btn btn-default" ng-click="calc.resetCalc()">Reset</button>
            </div>
        </div>
    </div>



    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
<!--    <script src="assets/libs/angular-input-masks/angular-input-masks-standalone.min.js"></script>-->
    <script src="assets/js/app.js"></script>
</body>

</html>