<div class="panel panel-default">
    <div class="panel-heading">My Earning Info</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-6">Tip Total: </label>
                <div class="col-sm-4">
                    <p class="form-control-static" type="text">{{ earnings.earnings.tipTotal | currency:"$" }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-6">Meal Count:</label>
                <div class="col-sm-4">
                    <p class="form-control-static" type="text">{{ earnings.earnings.mealCount | number }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-6">Average Tip Per Meal:</label>
                <div class="col-sm-4">
                    <p class="form-control-static" type="text">{{ earnings.earnings.averageTip() | currency:"$" }}</p>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="centered">
    <button id="reset-btn" type="button" class="btn btn-primary" ng-click="earnings.resetCalc()">Reset</button>
</div>