.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }




* {
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

#page-heading {
    margin: 20px auto;
}

#meal-buttons button {
    margin: 40px 10px;
}

#reset-btn {
    margin-bottom: 30px;
}





















.DEBUG-RED {
    border: 1px solid red;
}

.DEBUG-BLUE {
    border: 1px solid blue;
}

.DEBUG-GREEN {
    border: 1px solid green;
}